ion-title {
  margin-top: 15px;
}

ion-toolbar img {
  float: right;
  width: 30px;
  margin-right: 10px;
}

ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ion-toolbar p {
  font-size: 20px;
  text-align: right;
  margin-right: 10px;
  margin-top: 3px;
}

ion-button {
  --background: #f1c542d8; /* Color de fondo */
  --color: black; /* Color del texto */
  --border-radius: 20px; /* Radio de borde */
  --padding-start: 20px; /* Espaciado interno izquierdo */
  --padding-end: 20px; /* Espaciado interno derecho */
  --padding-top: 10px; /* Espaciado interno superior */
  --padding-bottom: 10px; /* Espaciado interno inferior */
  --border-width: 2px; /* Grosor del borde */
  --border-color: #000; /* Color del borde */
  --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25); /* Sombra */
  --ripple-color: deeppink; /* Color de la onda al hacer clic */

  /* Asegura que el contenido del botón se mantenga centrado */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Elimina el efecto de enfoque (outline) al hacer clic */
  &:focus {
    outline: none;
  }
}

ion-card img {
  height: 65%;
  width: 100%;
  margin: 5px;
}